<?xml version="1.0" encoding="windows-1251" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Assembly\Ubs;Assembly\Ubs\Lib;AssemblyReg\Ubs" />
      <publisherPolicy apply="no" />
    </assemblyBinding>
    <gcConcurrent enabled="false" />
  </runtime>
  <appSettings>
    <add key="Интервал сканирования" value="30" />
    <add key="Виртуальный каталог" value="UbsWSSFiles" />
    <add key="Корневой каталог - исходящие файлы" value="\\Almaz\ubs_nt\Files\MB\Test\OUT" />
    <add key="Корневой каталог - входящие файлы" value="\\Almaz\ubs_nt\Files\MB\Test\IN" />
    <add key="Порог попыток выгрузки файлов" value="32767" />
  </appSettings>
  <connectionStrings>
    <add name="UbsSendConnectionString" connectionString="Data Source=Almaz;Initial Catalog=NewUbsBase;Persist Security Info=true;User ID=sa;Password=1111" />
  </connectionStrings>
</configuration>